<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=192.168.1.174;database=UserCenter;uid=users;pwd=usersdata,上面则设置为false。 -->
    <!--<add key="ConnectionString" value="server=I5XS3P6A4SLSG7N\MSSQL2008;database=UserCenter;uid=sa;pwd=123456"/>-->
    <!--<add key="ConnectionString" value="server=118.190.81.221;database=UserCenter;uid=usercenter;pwd=user@center"/>-->
    <add key="ConnectionString" value="server=118.190.81.221;database=UserCenter;uid=usercenter;pwd=user@center"/>
    <!-- 部署模式,1分部署,0统一入口部署 -->
    <add key="issch" value="1"/>
    <!-- 部署模式,1分部署模式的各子系统主机头 -->
    <add key="isschurl" value="http://zhxyx.jiaobaowang.net:8080"/>
    <!-- 应用学校ID,每个学校分域名及分开服务器 -->
    <add key="appschid" value="100005"/>
    <!-- 管理学校ID -->
    <add key="adminschid" value="100000"/>
    <!-- 支撑系统域名 -->
    <add key="adminurl" value="http://jsypay.jiaobaowang.net/jsyadmin"/>
    <!-- 用户密码加密密钥 -->
    <add key="SecretKey" value="jsy309" />
    <!-- API数据加密密钥 -->
    <add key="ApiSecretKey" value="jsy309" />
    <!-- UserAPI数据 -->
    <add key="Userapi" value="http://139.129.252.49:8181/res/userapi" />
    <!-- OA登录信息接口 -->
    <add key="OAInfo" value="https://jbyj.jiaobaowang.net/SchoolOAService/getNoReadApproveCnt?schoolId={0}||readApproveManId={1}" />
    <!-- 第三方系统登录信息接口 -->
    <add key="ThdInfo" value="http://139.129.252.49:8080/visitor/api/getSchApps?schid=" />
    <!-- 第三方系统账号设置接口 -->
    <add key="ThdUinfo" value="http://139.129.252.49:8080/visitor/UserApp/toLoginUserApps/sid/sessionid" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="validatelogin" type="SchWebMaster.ValidateLogin,SchWebMaster"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <!-- Modules for IIS 7.0 Integrated mode -->
    <modules>
      <add name="validatelogin" type="SchWebMaster.ValidateLogin,SchWebMaster" />
    </modules>
    <!-- Handlers for IIS 7.0 Integrated mode -->
    <!-- Disable detection of IIS 6.0 / Classic mode ASP.NET configuration -->
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="content-type" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
