<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="server=118.190.81.221;database=UserCenter;uid=usercenter;pwd=user@center"/>-->
    <add key="ConnectionString" value="server=118.190.81.221;database=UserCenter;uid=usercenter;pwd=user@center"/>
    <!-- <add key="ConnectionString" value="server=192.168.1.178;database=TestUSerCenter;uid=sa;pwd=sa1707"/>-->
    <add key="appschid" value="100000"/>
    <!-- 管理学校ID -->
    <add key="adminschid" value="100000"/>
    <!-- 用户密码加密密钥 -->
    <add key="SecretKey" value="jsy309" />
    <!-- 支撑系统域名 -->
    <add key="adminurl" value="http://jsypay.jiaobaowang.net/jsyadmin"/>
    <!-- 第三方系统登录信息接口 -->
    <add key="ThdInfo" value="http://139.129.252.49:8080/visitor/api/getSchApps?schid=" />
  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <httpHandlers>
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      </httpHandlers>
      <httpModules>
        <add name="validatelogin" type="SchWebServ.ValidateLogin,SchWebServ"/>
      </httpModules>
    </system.web>

  <system.webServer>
    <!-- Modules for IIS 7.0 Integrated mode -->
    <modules>
      <add name="validatelogin" type="SchWebServ.ValidateLogin,SchWebServ" />
    </modules>
    <!-- Handlers for IIS 7.0 Integrated mode -->
    <!-- Disable detection of IIS 6.0 / Classic mode ASP.NET configuration -->
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
</configuration>
